@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Insufficient Access Right";
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2>You do not have sufficient right to open this page</h2>
<a href="../../../../Account/Login">&laquo; Login with different user account</a>

