@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Aibe.LCZ.NFM_InsufficientAccessRight;
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2>@Aibe.LCZ.NFM_InsufficientAccessRightPageMessage</h2>
<a href="../../../../@Aiwe.DH.MvcAccountControllerName/@Aiwe.DH.LogInActionName">&laquo; @Aibe.LCZ.NFM_LoginWithDifferentUserAccount</a>

