@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Aibe.LCZ.NFM_LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Aibe.LCZ.NFM_LockedOut.</h1>
    <h2 class="text-danger">@Aibe.LCZ.NFM_LockedOutMessage.</h2>
</hgroup>
