@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Table Description Not Found";
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2>Please ensure that you have input the right table name</h2>

