USE [aiwe]
GO
/****** Object:  Table [dbo].[MetaItem]    Script Date: 10/16/2017 3:29:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaItem](
	[Cid] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[TableSource] [nvarchar](100) NULL,
	[PrefilledColumns] [nvarchar](4000) NULL,
	[ItemsPerPage] [smallint] NULL,
	[OrderBy] [nvarchar](500) NULL,
	[ActionList] [nvarchar](2000) NULL,
	[DefaultActionList] [nvarchar](500) NULL,
	[TableActionList] [nvarchar](500) NULL,
	[DefaultTableActionList] [nvarchar](500) NULL,
	[TextFieldColumns] [nvarchar](4000) NULL,
	[PictureColumns] [nvarchar](1000) NULL,
	[IndexShownPictureColumns] [nvarchar](1000) NULL,
	[RequiredColumns] [nvarchar](500) NULL,
	[NumberLimitColumns] [nvarchar](2000) NULL,
	[RegexCheckedColumns] [nvarchar](2000) NULL,
	[RegexCheckedColumnExamples] [nvarchar](2000) NULL,
	[UserRelatedFilters] [nvarchar](500) NULL,
	[DisableFilter] [bit] NULL,
	[ForcedFilterColumns] [nvarchar](2000) NULL,
	[ColumnExclusionList] [nvarchar](2000) NULL,
	[FilterExclusionList] [nvarchar](2000) NULL,
	[DetailsExclusionList] [nvarchar](2000) NULL,
	[CreateEditExclusionList] [nvarchar](2000) NULL,
	[CsvExclusionList] [nvarchar](2000) NULL,
	[AccessExclusionList] [nvarchar](2000) NULL,
	[ColoringList] [nvarchar](4000) NULL,
	[FilterDropDownLists] [nvarchar](4000) NULL,
	[CreateEditDropDownLists] [nvarchar](4000) NULL,
	[PrefixesOfColumns] [nvarchar](1000) NULL,
	[PostfixesOfColumns] [nvarchar](1000) NULL,
	[ListColumns] [nvarchar](1000) NULL,
	[TimeStampColumns] [nvarchar](1000) NULL,
	[HistoryTable] [nvarchar](2000) NULL,
	[HistoryTrigger] [nvarchar](2000) NULL,
	[AutoGeneratedColumns] [nvarchar](1000) NULL,
	[ColumnSequence] [nvarchar](1000) NULL,
	[ColumnAliases] [nvarchar](1000) NULL,
	[EditShowOnlyColumns] [nvarchar](1000) NULL,
	[ScriptConstructorColumns] [nvarchar](4000) NULL,
	[ScriptColumns] [nvarchar](4000) NULL,
	[CustomDateTimeFormatColumns] [nvarchar](2000) NULL,
	[EmailMakerTriggers] [nvarchar](4000) NULL,
	[EmailMakers] [nvarchar](4000) NULL,
	[NonPictureAttachmentColumns] [nvarchar](2000) NULL,
	[DownloadColumns] [nvarchar](1000) NULL,
	[NonPictureAttachmentColumns][nvarchar(2000)] NULL,
	[DownloadColumns][nvarchar(1000)] NULL,
	[PreActionTriggers][nvarchar(2000)] NULL,
	[PreActionProcedures][nvarchar(4000)] NULL,
	[PostActionTriggers][nvarchar(2000)] NULL,
	[PostActionProcedures][nvarchar(4000)] NULL,
	[TableType] [nvarchar](500) NULL,
	[AggregationStatement][nvarchar(4000)] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

