USE [aiwe]
GO
/****** Object:  Table [dbo].[MetaItem]    Script Date: 10/16/2017 3:29:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaItem](
	[Cid] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[TableSource] [nvarchar](100) NULL,
	[PrefilledColumns] [nvarchar](4000) NULL,
	[ItemsPerPage] [smallint] NULL,
	[OrderBy] [nvarchar](500) NULL,
	[ActionList] [nvarchar](2000) NULL,
	[DefaultActionList] [nvarchar](500) NULL,
	[TableActionList] [nvarchar](500) NULL,
	[DefaultTableActionList] [nvarchar](500) NULL,
	[TextFieldColumns] [nvarchar](4000) NULL,
	[PictureColumns] [nvarchar](1000) NULL,
	[IndexShownPictureColumns] [nvarchar](1000) NULL,
	[RequiredColumns] [nvarchar](500) NULL,
	[NumberLimitColumns] [nvarchar](2000) NULL,
	[RegexCheckedColumns] [nvarchar](2000) NULL,
	[RegexCheckedColumnExamples] [nvarchar](2000) NULL,
	[UserRelatedFilters] [nvarchar](500) NULL,
	[DisableFilter] [bit] NULL,
	[ForcedFilterColumns] [nvarchar](2000) NULL,
	[ColumnExclusionList] [nvarchar](2000) NULL,
	[FilterExclusionList] [nvarchar](2000) NULL,
	[DetailsExclusionList] [nvarchar](2000) NULL,
	[CreateEditExclusionList] [nvarchar](2000) NULL,
	[AccessExclusionList] [nvarchar](2000) NULL,
	[ColoringList] [nvarchar](4000) NULL,
	[FilterDropDownLists] [nvarchar](4000) NULL,
	[CreateEditDropDownLists] [nvarchar](4000) NULL,
	[PrefixesOfColumns] [nvarchar](1000) NULL,
	[PostfixesOfColumns] [nvarchar](1000) NULL,
	[ListColumns] [nvarchar](1000) NULL,
	[TimeStampColumns] [nvarchar](1000) NULL,
	[HistoryTable] [nvarchar](2000) NULL,
	[HistoryTrigger] [nvarchar](2000) NULL,
	[AutoGeneratedColumns] [nvarchar](1000) NULL,
	[ColumnSequence] [nvarchar](1000) NULL,
	[ColumnAliases] [nvarchar](1000) NULL,
	[EditShowOnlyColumns] [nvarchar](1000) NULL,
	[ScriptConstructorColumns] [nvarchar](4000) NULL,
	[ScriptColumns] [nvarchar](4000) NULL,
	[CustomDateTimeFormatColumns] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[MetaItem] ON 

INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (1, N'CFG_CUS_INF', N'Customer Basic Information', NULL, NULL, 15, N'CustomerSiteId;CustomerId', N'Create=Manager,Supervisor;Edit=Manager,Supervisor;Delete=Manager,Supervisor;Details', N'Create;Edit;Delete;Details', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'<reg>ContactList=[a-zA-Z]*=\+?\d{10,14}\|[a-zA-Z0-9.!#$%&''*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$;*</reg>', N'<ex>ContactList=Jack=+6590019005|jack_tan@gmail.com</ex> ', NULL, NULL, N'Cid;ContactList', N'Cid;ContactList', N'Cid', N'Cid', N'Anonymous', NULL, N'CustomerId=[CFG_CUS_INF:CustomerId],{ASC};
CustomerSiteId=[CFG_CUS_INF:CustomerSiteId],{ASC}', N'CustomerSiteId=[CFG_CUS_LOC:CustomerSiteId],{ASC}', NULL, NULL, N'ContactList|Name#10, Phone, Email=remarks;
', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (2, N'CFG_CUS_LOC', N'Customer Site Location', NULL, NULL, 15, N'CustomerSiteId', N'Create=Manager,Supervisor;Edit=Manager,Supervisor;Delete=Manager,Supervisor;Details', N'Create;Edit;Delete;Details', NULL, NULL, NULL, NULL, NULL, N'CustomerSiteId;Country;', NULL, NULL, NULL, NULL, NULL, N'Cid;', N'Cid;', N'Cid;', N'Cid;', N'Anonymous', NULL, N'CustomerSiteId=[CFG_CUS_LOC:CustomerSiteId],{ASC};
Country=[CFG_CUS_LOC:Country],{ASC};', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (3, N'CFG_CUS_SUB', N'Customer Sub-Contractor', NULL, NULL, 15, N'CustomerId', N'Create=Manager,Supervisor;Edit=Manager,Supervisor;Delete=Manager,Supervisor;Details', N'Create;Edit;Delete;Details', NULL, NULL, NULL, NULL, NULL, N'CustomerId;SubconId;', NULL, NULL, NULL, NULL, NULL, N'Cid;', N'Cid;', N'Cid;', N'Cid;', N'Anonymous', NULL, N'CustomerId=[CFG_CUS_SUB:CustomerId],{ASC};
SubconId=[CFG_CUS_SUB:SubconId],{ASC};', N'CustomerId=[CFG_CUS_INF:CustomerId],{ASC};
', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (5, N'CFG_PRD_INF', N'Product Information', NULL, NULL, 15, N'ProductTypeID; ProductCode; DeviceName', N'Create=Manager,Supervisor;Edit=Manager,Supervisor;Delete=Manager,Supervisor;Details', N'Create;Edit;Delete;Details', NULL, NULL, NULL, NULL, NULL, N'ProductTypeID; DeviceName', NULL, NULL, NULL, NULL, NULL, N'Cid;ProductSeriesNo', N'Cid;ProductSeriesNo', N'Cid', N'Cid', N'Anonymous', NULL, N'ProductTypeId=[CFG_PRD_INF:ProductTypeId],{ASC};
ProductCode=[CFG_PRD_INF:ProductCode],{ASC};', N'ProductTypeId=[CFG_PRD_TYP:ProductTypeId],{ASC}', NULL, NULL, N'ProductSeriesNo|Connector,Head, Card=remarks;
', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (7, N'CFG_PUB_HOL', N'Public Holiday', NULL, NULL, 15, N'HolidayDate', N'Create=Manager,Supervisor;Edit=Manager,Supervisor;Delete=Manager,Supervisor;Details', N'Create;Edit;Delete;Details', NULL, NULL, NULL, NULL, NULL, N'Country;HolidayDate', NULL, NULL, NULL, NULL, NULL, N'Cid', N'Cid', N'Cid', N'Cid', N'Anonymous', NULL, N'Country=[CFG_PUB_HOL:Country],{ASC}', N'Country=[CFG_CUS_LOC:CustomerSiteId],{ASC}
', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (11, N'CFG_TEM_LST', N'Service Checklist Template', NULL, NULL, 15, N'TemplateName', N'Create=Manager,Supervisor;Edit=Manager,Supervisor;Delete=Manager,Supervisor;Details', N'Create;Edit;Delete;Details', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Cid', N'Cid', N'Cid', N'Cid', N'Anonymous', NULL, NULL, NULL, NULL, NULL, N'TemplateDefaultValue=dropdown;
TemplateCheckValue=dropdown;', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (17, N'JOB_CAL_INF', N'Job Order: Calibration', NULL, NULL, 15, N'DueDate', N'Create=Manager,Supervisor;Edit=Manager,Supervisor;Delete=Manager,Supervisor;Details', N'Create;Edit;Delete;Details', NULL, NULL, NULL, NULL, NULL, N'CalibrationDate, JobStatus', NULL, NULL, NULL, NULL, NULL, N'Cid', N'Cid', N'Cid', N'Cid', N'Anonymous', N'[DueDate|LE|NOW|red];
[DueDate|GE|NOW+432000|greenyellow];
[DueDate|GE|NOW|yellow]

', NULL, N'CalibrationInt=[CFG_JOB_INT:JobTypeId],{ASC};
JobStatus=PASS,FAIL,COMPLETED;
', NULL, NULL, NULL, N'DueDate=edit|+2592000|false ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (18, N'JOB_ORD_INF', N'Service Job List', NULL, NULL, 15, N'ScheduleDate=DESC', N'Edit=Manager,Supervisor,MobileApp;Delete=Manager,Supervisor;Details;GenerateReport;', N'Create;Edit;Delete;Details;', NULL, NULL, NULL, N'DeviceImage=100;UserSignature;EngineerSignature;', N'DeviceImage;UserSignature;EngineerSignature;', NULL, NULL, N'<reg>ContactList=[a-zA-Z]*=\+?\d{10,14}\|[a-zA-Z0-9.!#$%&''*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$;*</reg>
', N'<ex>ContactList=ContactPerson=ContactNumber|yourName@yourcompany.com</ex> ', N'TeamId=Team|{All:Home,Singapore}', NULL, N'Cid;ProductSeriesNo;SPTemplate;ServicePerformed;CLTemplate;CheckList;RemarkAndAction;ContactList;CustomerId; CustomerSiteId; ProductCode;CompanyDept;DeviceImage;UserSignature;EngineerSignature;ServiceStart;ServiceEnd;UserSignatureName;EngineerSignatureName;JobTrack;FollowUp;', N'Cid;SPTemplate;ServicePerformed;CLTemplate;CheckList;RemarkAndAction;ContactList; DeviceImage;UserSignature;EngineerSignature;ServiceStart;ServiceEnd;UserSignatureName;EngineerSignatureName;JobTrack;', N'Cid', N'Cid;SPTemplate;ServicePerformed;CLTemplate;CheckList;DeviceImage;UserSignature;EngineerSignature;ServiceStart;ServiceEnd;UserSignatureName;EngineerSignatureName;JobTrack;ServiceStatus;ContactList;ProductSeriesNo;RemarkAndAction;FollowUp;', N'Anonymous', N'[ScheduleDate|LE|NOW|coral];
[ScheduleDate|GE|NOW|greenyellow]', N'CustomerId=[JOB_ORD_INF:CustomerId],{ASC};
CustomerSiteId=[JOB_ORD_INF:CustomerSiteId],{ASC};
ProductCode=[JOB_ORD_INF:ProductCode],{ASC};
DeviceName=[JOB_ORD_INF:DeviceName],{ASC};
ServiceStatus=[JOB_ORD_INF:ServiceStatus],{ASC};', N'RequestNo=[ORD_CUS_REQ:RequestNo:: [RequestNo] Not in (Select [RequestNo] from LOG_JOB_HST union Select [RequestNo] from JOB_ORD_INF) and RequestStatus=''P''],{ASC};
CustomerSiteId=[ORD_CUS_REQ:CustomerSiteId:RequestNo=RequestNo],{ASC};
CustomerId=[ORD_CUS_REQ:CustomerId:RequestNo=RequestNo],{ASC};
CustomerName=[CFG_CUS_INF:CustomerName:CustomerId=CustomerId],{ASC};
DeviceName=[ORD_CUS_REQ:DeviceName:RequestNo=RequestNo],{ASC};
ProductCode=[ORD_CUS_REQ:ProductCode:RequestNo=RequestNo],{ASC};
ServiceStatus=[CFG_JOB_STS:JobStatus],{ASC};
SPTemplate=SP_All,SP_Cleaning,SP_Soldering,SP_Beam_Replacement,SP_Test, SP_Setup ;
CLTemplate=Head,Connector,Cantilever,PCB,Electrical;
TeamId=[VServiceTeam:Team:CustomerSiteId=CustomerSiteId],{ASC};
ServicePeople=[VServiceTeam:UserName:Team=TeamId],{ASC};', NULL, NULL, N'ProductSeriesNo|Connector,Head, Card=remarks|ORD_CUS_REQ:ProductSeriesNo:RequestNo=RequestNo;
ServicePerformed|Service Performed=list|CFG_TEM_DRP:TemplateValue:TemplateName=SPTemplate;
CheckList|Test item,Result=dropdown|CFG_TEM_DRP:TemplateValue:TemplateName=CLTemplate;
ContactList|Name, Phone, Email=remarks|CFG_CUS_INF:ContactList:CustomerName=CustomerName;
JobTrack|Status, Engineer+Date, UpdateDT=remarks;

', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (19, N'JOB_TRN_INF', N'Training Schedule Information', NULL, NULL, 15, N'TrnDateTime', N'Create=Manager,Supervisor;Edit=Manager,Supervisor,MobileApp;Delete=Manager,Supervisor;Details;GenerateReport;', N'Create;Edit;Delete;Details', NULL, NULL, NULL, N'CustomerSignature;TrainerSignature;', N'CustomerSignature;TrainerSignature;', NULL, NULL, N'<reg>ContactList=[a-zA-Z]*=\+?\d{10,14}\|[a-zA-Z0-9.!#$%&''*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$;*</reg>', N'<ex>ContactList=Jack Lee=+6590019006|kack_lee@gmail.com</ex> ', NULL, NULL, N'Cid;AttendeeList; ContactList;TrnScheduleHist;CustomerId; CustomerSiteId;CompanyDept;Remarks;
CustomerSignature;TrainerSignature;TrainingStart;TrainingEnd;CustomerSignatureName;TrainerSignatureName;', N'Cid;AttendeeList; ContactList;CustomerSignature;TrainerSignature;TrainingStart;TrainingEnd;CustomerSignatureName;TrainerSignatureName;', N'Cid', N'Cid;TrnDateTime;CustomerSignature;TrainerSignature;TrainingStart;TrainingEnd;CustomerSignatureName;TrainerSignatureName;TrnScheduleHist;TrainingStatus;TrainingNo;', N'Anonymous', N'[TrnScheduleTime|LE|NOW|red];
[TrnScheduleTime|GE|NOW+432000|greenyellow];
[TrnScheduleTime|GE|NOW|yellow]
', NULL, N'CustomerName=[CFG_CUS_INF:CustomerName],{ASC};
CustomerId=[CFG_CUS_INF:CustomerId:CustomerName=CustomerName],{ASC};
CustomerSiteId=[CFG_CUS_INF:CustomerSiteId:CustomerName=CustomerName],{ASC};
TrnCategory=[CFG_TRN_ACT:Category],{ASC}; TrnTopic=[CFG_TRN_ACT:Topic:Category=TrnCategory],{ASC};
TrainerId=[VServiceTeam:UserName:CustomerSiteId=CustomerSiteId]', NULL, NULL, N'AttendeeList|Name,Grade,Attendance=remarks;
ContactList|Name, Phone, Email=remarks|CFG_CUS_INF:ContactList:CustomerName=CustomerName;
TrnScheduleHist|ScheduleDT, Trainer, UpdateDT=remarks;', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (20, N'LOG_JOB_HST', N'Work Order Job History ', NULL, NULL, 15, N'LogDate=DESC', N'Details;Delete; GenerateReport;SendEmail;', N'Details; Delete', NULL, NULL, NULL, N'DeviceImage;UserSignature;EngineerSignature;', N'DeviceImage;UserSignature;EngineerSignature;', NULL, NULL, NULL, NULL, N'TeamId=Team|{All:Home,Singapore}', NULL, N'Cid;ProductSeriesNo;SPTemplate;ServicePerformed;CLTemplate;CheckList;RemarkAndAction;ContactList;CustomerId; CustomerSiteId; DeviceImage;UserSignature;EngineerSignature;ServiceStart;ServiceEnd;UserSignatureName;EngineerSignatureName;JobTrack;ServiceStatus;FollowUp;', N'Cid;DeviceImage;UserSignature;EngineerSignature;ServiceStart;ServiceEnd;UserSignatureName;EngineerSignatureName;', N'Cid', N'Cid;DeviceImage;UserSignature;EngineerSignature;ServiceStart;ServiceEnd;UserSignatureName;EngineerSignatureName;', N'Anonymous', NULL, NULL, NULL, NULL, NULL, N'ProductSeriesNo|Connector,Head, Card=remarks|ORD_CUS_REQ:ProductSeriesNo:RequestNo=RequestNo;
ServicePerformed|Service Performed=list|CFG_TEM_DRP:TemplateValue:TemplateName=SPTemplate;
CheckList|Test item,Result=dropdown|CFG_TEM_DRP:TemplateValue:TemplateName=CLTemplate;
ContactList|Name, Phone, Email=remarks|CFG_CUS_INF:ContactList:CustomerName=CustomerName;JobTrack|Status, Engineer+Date, UpdateDT=remarks;', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (21, N'LOG_TRN_HST', N'Training History Log', NULL, NULL, NULL, N'LogDate=DESC', N'Details;Delete;GenerateReport;SendEmail;', N'Details; Delete;', NULL, NULL, NULL, N'CustomerSignature;TrainerSignature;', N'CustomerSignature;TrainerSignature;', NULL, NULL, NULL, NULL, NULL, NULL, N'Cid;AttendeeList; ContactList;TrnScheduleHist;CustomerId; CustomerSiteId;CompanyDept;Remarks;
CustomerSignature;TrainerSignature;TrainingStart;TrainingEnd;CustomerSignatureName;TrainerSignatureName;TrainingStatus;', N'Cid;AttendeeList; ContactList;CustomerSignature;TrainerSignature;TrainingStart;TrainingEnd;CustomerSignatureName;TrainerSignatureName;', N'Cid;', N'Cid;CustomerSignature;TrainerSignature;TrainingStart;TrainingEnd;CustomerSignatureName;TrainerSignatureName;', N'Anonymous', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (24, N'ORD_CUS_PRD', N'Customer Product Information', NULL, NULL, 15, N'CustomerId; CustomerSiteId; ProductTypeId; DeviceName', N'Create=Manager,Supervisor;Edit=Manager,Supervisor;Delete=Manager,Supervisor;Details', N'Create;Edit;Delete;Details', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Cid;ProductSeriesNo', N'Cid', N'Cid', N'Cid', N'Anonymous', NULL, N'ProductTypeId=[ORD_CUS_PRD:ProductTypeId],{ASC};
DeviceName=[ORD_CUS_PRD:DeviceName],{ASC};
CustomerId=[ORD_CUS_PRD:CustomerId],{ASC};
CustomerSiteId=[ORD_CUS_PRD:CustomerSiteId],{ASC};
', N'ProductTypeId=[CFG_PRD_INF:ProductTypeId],{ASC};
DeviceName=[CFG_PRD_INF:DeviceName:ProductTypeId=ProductTypeId],{ASC};
ProductCode=[CFG_PRD_INF:ProductCode:DeviceName=DeviceName],{ASC};
CustomerId=[CFG_CUS_INF:CustomerId],{ASC};
CustomerSiteId=[CFG_CUS_INF:CustomerSiteId:CustomerId=CustomerId],{ASC};', NULL, NULL, N'ProductSeriesNo|Connector,Head, Card=remarks|CFG_PRD_INF:ProductSeriesNo:DeviceName=DeviceName;', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MetaItem] ([Cid], [TableName], [DisplayName], [TableSource], [PrefilledColumns], [ItemsPerPage], [OrderBy], [ActionList], [DefaultActionList], [TableActionList], [DefaultTableActionList], [TextFieldColumns], [PictureColumns], [IndexShownPictureColumns], [RequiredColumns], [NumberLimitColumns], [RegexCheckedColumns], [RegexCheckedColumnExamples], [UserRelatedFilters], [DisableFilter], [ColumnExclusionList], [FilterExclusionList], [DetailsExclusionList], [CreateEditExclusionList], [AccessExclusionList], [ColoringList], [FilterDropDownLists], [CreateEditDropDownLists], [PrefixesOfColumns], [PostfixesOfColumns], [ListColumns], [TimeStampColumns], [HistoryTable], [HistoryTrigger], [AutoGeneratedColumns], [ColumnSequence], [ColumnAliases], [EditShowOnlyColumns], [ScriptConstructorColumns], [ScriptColumns]) VALUES (25, N'ORD_CUS_REQ', N'Service Request Information (Name=Phone|Email)', NULL, NULL, 15, N'RequestDate=DESC', N'Create=Manager,Supervisor;Edit=Manager,Supervisor;Delete=Manager,Supervisor;Details', N'Create;Edit;Delete;Details', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Cid;ProductSeriesNo;ProductFault;ProductCode;ContactList', N'Cid;ProductSeriesNo;', N'Cid', N'Cid;RequestNo;', N'Anonymous', NULL, N'CustomerId=[ORD_CUS_REQ:CustomerId],{ASC};
CustomerSiteId=[ORD_CUS_REQ:CustomerSiteId],{ASC};  
DeviceName=[ORD_CUS_REQ:DeviceName],{ASC};  
ProductCode=[ORD_CUS_REQ:ProductCode],{ASC};
RequestStatus=[ORD_CUS_REQ:RequestStatus],{ASC};    ', N'CustomerId=[ORD_CUS_PRD:CustomerId],{ASC}; 
CustomerSiteId=[ORD_CUS_PRD:CustomerSiteId:CustomerId=CustomerId],{ASC};
SubconId=[CFG_CUS_SUB:SubconId:CustomerId=CustomerId];{ASC};
DeviceName=[ORD_CUS_PRD:DeviceName:CustomerId=CustomerId],{ASC};
ProductCode=[ORD_CUS_PRD:ProductCode:DeviceName=DeviceName],{ASC};
RequestStatus=Normal,Urgent;

', NULL, NULL, N'ProductSeriesNo|Connector,Head, Card=remarks|CFG_PRD_INF:ProductSeriesNo:DeviceName=DeviceName;
ContactList|Name, Phone, Email=remarks|CFG_CUS_INF:ContactList:CustomerId=CustomerId;', N'RequestDate', NULL, NULL, NULL, NULL, NULL, N'RequestPerson;ContactList;ProductSeriesNo;CustomerId;CustomerSiteId', NULL, NULL)
SET IDENTITY_INSERT [dbo].[MetaItem] OFF
