create table TestTableCommonI(
	Cid int primary key identity,
	StringVal nvarchar(100), 
	AnotherStringVal nvarchar(100),
	IntVal Int,
	AnotherIntVal Int,
	DecimalVal Real,
	AnotherDecimalVal Real
)

insert into TestTableCommonI values ('String 1', 'Another String 1', 1, 2, 3.5, 5.6)
insert into TestTableCommonI values ('String 1', 'Another String 2', 2, 1, 4.5, 5.7)
insert into TestTableCommonI values ('String 2', 'Another String 1', 5, 2, 5.5, 5.8)

