@{
  ViewBag.Title = "Success";
  ViewBag.ControllerName = "Meta";
}

<h1 class="text-success">@ViewBag.Title!</h1>
<h2>@ViewBag.SuccessMessage</h2>
<br/>
<a href="@Url.Action("Index", (string)ViewBag.ControllerName)"
   class="btn btn-primary">
  <span class="glyphicon glyphicon-circle-arrow-left"><font style="font-family:verdana;"> Back To List</font></span>
</a>

