@model Aiwe.Models.ViewModels.RoleViewModel
<div class="row">
  <div class="@ViewBag.LabelClasses"><b>@Html.LabelFor(model => model.Name)</b></div>
  <div class="@ViewBag.EditorClass">@Html.DisplayFor(model => model.Name)</div>
  <br />
</div>
