@{
    ViewBag.Title = Aibe.LCZ.W_HomePage;
}
@*check the glyphicon here: https://getbootstrap.com/docs/3.3/components/*@

<br />
<div class="row">
    <div class="col-md-3">
        <h4 class="module-header">
            <span class="glyphicon glyphicon-tag text-success"></span> Header 1 @*Insert header 1 here, typically: @Aibe.LCZ.W_Configuration*@ 
            <span class="glyphicon glyphicon-chevron-down module-button" id="module-button-1"></span>
        </h4>
        <div id="module-1" class="module-div">
          @*insert the indiviual table button here*@
          @*button example shown below*@
            @*  <a href="../../../../../@Aiwe.DH.MvcCommonControllerName/@Aibe.DH.IndexActionName/CFG_SVG_ACT" class="btn btn-primary btn-block button-odd-custom" style="margin-top:5px;margin-right:5px;">
  <span class="glyphicon glyphicon-wrench"></span> Service Performed
  </a>*@
        </div>
    </div>
    <div class="col-md-3">
        <h4 class="module-header">
            <span class="glyphicon glyphicon-tag text-danger"></span> Header 2 @*Insert header 2 here, typically: @Aibe.LCZ.W_Registration*@ 
            <span class="glyphicon glyphicon-chevron-down module-button" id="module-button-2"></span>
        </h4>
        <div id="module-2" class="module-div">
          @*insert the indiviual table button here*@
        </div>
    </div>
    <div class="col-md-3">
        <h4 class="module-header">
            <span class="glyphicon glyphicon-tag text-warning"></span> Header 3 @*Insert header 3 here, typically: @Aibe.LCZ.W_Schedule*@
            <span class="glyphicon glyphicon-chevron-down module-button" id="module-button-3"></span>
        </h4>
        <div id="module-3" class="module-div">
          @*insert the indiviual table button here*@
        </div>
    </div>
    <div class="col-md-3">
        <h4 class="module-header">
            <span class="glyphicon glyphicon-tag text-primary"></span> Header 4 @*Insert header 4 here, typically: @Aibe.LCZ.W_HistoryLog*@ 
            <span class="glyphicon glyphicon-chevron-down module-button" id="module-button-4"></span>
          @*insert the indiviual table button here*@
        </h4>
    </div>
</div>
