<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-U53LVFU;initial catalog=aiweUsers;integrated security=False;User Id=test;Password=Question123;MultipleActiveResultSets=False;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="CoreDataModel" connectionString="Data source=DESKTOP-U53LVFU;initial catalog=aiwe;integrated security=False;User Id=test;Password=Question123;MultipleActiveResultSets=False;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--the SMTP section below must be provided for the ConsoleEmailSender to work!-->
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="AIWE-MMS@companyname.com">
        <network defaultCredentials="true" host="smtp-auth.tng.de" port="465" userName="AIWE-MMS@sg.companyname.com" password="ReB7Y!AA" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="WebNetMail" value="WebMail"/>
  </appSettings>-->
<!--
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="AIWE-MMS@companyname.com">
        <network defaultCredentials="true" host="smtp.tng.de" port="25" userName="AIWE-MMS@sg.companyname.com" password="ReB7Y!AA" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="WebNetMail" value="WebMail" />
  </appSettings>
-->

  <!--the sample/testing SMTP section using ASTRIO dummy email-->
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="astrio4321@gmail.com">
        <network defaultCredentials="true" host="smtp.gmail.com" port="587" userName="astrio4321@gmail.com" password="astrio1234" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="WebNetMail" value="NetMail" />
  </appSettings>-->

</configuration>
